
<div class="main">
    <div class="pad-top bottom pt-1 d-flex justify-content-center flex-wrap">
      <h1 class="text-warning">CharaCraft</h1>
    </div>
    {{#unless logged_in}}
    <div class="d-flex justify-content-center flex-wrap text-center">
      <h2 class="text-warning">Login to view your Characters <br> or choose a prebuilt below!</h2>
    </div>
    {{/unless}}
    <div class="d-flex flex-wrap justify-content-around cards">

    {{#each prebuilts as |prebuilt|}}
      <!--card -->
    <div class="card cardEdit border border-dark-subtle border-5" style="width: 18rem;">
      <img src="{{prebuilt.filename}}" class="card-img-top" alt="...">
      <div class="card-body text-center mb-2">
        <h5 class="card-title underline"><strong>{{prebuilt.class}}</strong></h5>
        <p class="card-text">{{prebuilt.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: <strong>{{prebuilt.name}}</strong></li>
        <li class="list-group-item">Race: <strong>{{prebuilt.race}}</strong></li>
      </ul>
      <div class="card-body text-center">
        <a href="#" class="btn btn-primary">View Character</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>